*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url("/imagens/360_F_743027058_xgLVEVjMdrY0qYUhJPWLIffoe1vyV4WA.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;




}
.caixa-maior{
    box-shadow: #ffffff;
    background-color: #1b1b1b;
    width: 450px;
    border-radius: 25px;
    padding:20px;
     
  
}

.input-texto{
    
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #808080;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px
}
.idioma{
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding:10px;
    background-color: #808080;
    color: #ffffff;
}
button{
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;

}
.controle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
.resultado{
    padding: 15px;
    background-color: #817a7a;
    border-radius: 15px;
}
.titulo-traducao{
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}
.resultado{
color: #272525;
font-size: 19px;
}
.traducao {
    color: #ffffff;
    font-size: 18px;
}